<div class="container-fluid p-0">
  <div class="row justify-content-center pr-4 pb-4">
    <div class="col-md-8">
      <span class="title quest ml-4">Feedback de los usuarios</span>

      <div class="card mt-4 ml-4" *ngIf="!feedbacks || !feedbacks?.length">
        <div class="row">
          <div class="col-md-12 p-0 text-center">
            <span class="title text-primary">{{
              loading ? 'Cargando...' : 'No se encontró ningún feedback.'
            }}</span>
          </div>
        </div>
      </div>

      <div
        class="card mt-4 ml-4"
        *ngFor="let feedback of feedbacks"
        (click)="openChat(feedback)"
      >
        <div class="row">
          <div class="col-md-1">
            <img
              [src]="filesUrl + feedback.user?.picture"
              onerror="this.src = 'assets/imgs/avatar.png'"
              class="avatar"
            />
          </div>
          <div class="col-md-10 p-0">
            <span class="title">{{ feedback.title }}</span>
            <p class="text">{{ feedback.body }}</p>
          </div>
          <div class="col-md-1 align-items-center">
            <button class="btn btn-clear" *ngIf="feedback.new">
              <i class="fa fa-bell notif"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="row pt-4 pb-4 pr-4">
        <div class="col-10"></div>
        <div class="col-2 text-right">
          <span class="pagined"
            ><i
              class="fa fa-chevron-left text-light"
              (click)="previousPage()"
              *ngIf="page !== 1"
              style="cursor: pointer"
            ></i>
            {{ page }}/{{ totalPages }}
            <i
              class="fa fa-chevron-right text-light"
              (click)="nextPage()"
              *ngIf="page !== totalPages && totalPages > 0"
              style="cursor: pointer"
            ></i
          ></span>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <span class="invisible">.</span>
      <div class="card-chat mt-4" *ngIf="chat && itemSelected">
        <div class="row">
          <div class="col-md-2" (click)="goToProfile(itemSelected.user.id)">
            <img
              [src]="filesUrl + itemSelected.user?.picture"
              onerror="this.src = 'assets/imgs/avatar.png'"
              class="avatar"
            />
          </div>
          <div class="col-md-10">
            <span class="title">{{ itemSelected.title }}</span>
            <p class="text">{{ itemSelected.body }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
