<div class="footer">
  <!-- <div class="row pt-5 lists">
    <div class="col-md-3 list-title">
      <span class="title">Menu</span>
    </div>
    <div class="col-md-3 list-title">
      <span class="title">Mi cuenta</span>
    </div>
    <div class="col-md-3 list-title">
      <span class="title">Contactanos</span>
    </div>
    <div class="col-md-3 list-title">
      <span class="title">Legales</span>
    </div>
  </div>

  <div class="row lists">
    <div class="col-md-3 list-title">
      <p class="subtitle mt-4">Home</p>
    </div>
    <div class="col-md-3 list-title">
      <p class="subtitle mt-4">Mis Compras</p>
    </div>
    <div class="col-md-3 list-title">
      <p class="subtitle mt-4"><i class="fa fa-envelope mr-2" aria-hidden="true"></i>soporte@mercadogamer.com</p>
    </div>
    <div class="col-md-3 list-title">
      <p class="subtitle mt-4">Terminos y condiciones</p>
    </div>
  </div>

  <div class="row lists">
    <div class="col-md-3 list-title">
      <p class="subtitle mt-2">Catalogo</p>
    </div>
    <div class="col-md-3 list-title">
      <p class="subtitle mt-2">Mis ventas</p>
    </div>
    <div class="col-md-3 list-title">
      <p class="subtitle mt-2"><i class="fa fa-instagram mr-2" aria-hidden="true"></i>@username</p>
    </div>
    <div class="col-md-3 list-title">
      <p class="subtitle mt-2">Politicas de privacidad</p>
    </div>
  </div>

  <div class="row lists">
    <div class="col-md-3 list-title">
      <p class="subtitle mt-2">Ayuda</p>
    </div>
    <div class="col-md-3 list-title">
      <p class="subtitle mt-2">Tickets</p>
    </div>
    <div class="col-md-3 list-title">
      <p class="subtitle mt-2"><i class="fa fa-youtube-play mr-2" aria-hidden="true"></i>@username</p>
    </div>
    <div class="col-md-3 list-title">
    </div>
  </div>

  <div class="row lists">
    <div class="col-md-3 list-title">
      <p class="subtitle mt-2">Juegos</p>
    </div>
    <div class="col-md-3 list-title">
      <p class="subtitle mt-2">Ajustes</p>
    </div>
    <div class="col-md-3 list-title">
    </div>
    <div class="col-md-3 list-title">
    </div>
  </div>

  <div class="row lists">
    <div class="col-md-3 list-title">
      <p class="subtitle mt-2">Gift Card</p>
    </div>
    <div class="col-md-3 list-title">
      <p class="subtitle mt-2">Preguntas</p>
    </div>
    <div class="col-md-3 list-title">
    </div>
    <div class="col-md-3 list-title">
    </div>
  </div> -->

  <div class="row justify-content-center">
    <!-- <img src="assets/imgs/mg.svg" alt=""> -->
  </div>

  <div class="row mt-5 justify-content-center">
    <img src="assets/imgs/mg.svg" alt="">
  </div>

  <div class="row justify-content-center">
    <p class="copy mt-4 mb-5">Copyright ©2022  Mercado Gamer</p>
  </div>
</div>