@import "../../../../assets/styles/_variables";

@font-face {
    font-family: 'Montserrat';
    src: url("../../../../assets/fonts/Montserrat-Regular.ttf");
}

.footer {
    background-color: $black;
    width: 100%;
    // height: 900px;

    .lists {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        .list-title {
            text-align: center;
        }
        .title {
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            color: $primary;
        }

        .subtitle {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: $light;
        }

    }
    .copy {
        font-size: 14px;
        line-height: 17px;
        font-family: 'Montserrat';
        color: #EBEBF5;
        opacity: 60%;
    }

}