@import "../../../assets/styles/_variables";

@font-face {
  font-family: 'Montserrat';
  src        : url("../../../assets/fonts/Montserrat-Regular.ttf");
}


.container-fluid {
  background-color: #141414;
}

.row {
  overflow-x: hidden !important;

  .col {
    overflow-x: hidden !important;
  }

  .title {
    color      : $primary;
    font-family: 'Montserrat';
    font-style : normal;
    font-weight: 600;
    font-size  : 16px;
    line-height: 20px;

    &.quest {
      font-size: 22px !important;
    }
  }

  .disabled {
    color        : rgba(235, 235, 245, 0.6);
    font-family  : 'Montserrat';
    font-style   : normal;
    font-weight  : normal;
    font-size    : 16px;
    padding      : 14px;
    text-align   : center;
    line-height  : 20px;
    border-radius: 12px;

    &.enabled {
      background : #2F2F2F;
      color      : $primary !important;
      font-weight: 600;
    }

    img {
      margin-right: 5px;
    }

    i {
      margin-right: 5px;
      font-size   : 1.2rem;
      color       : rgba(235, 235, 245, 0.6);
    }

    .icon-enabled {
      color: $primary !important;
    }
  }

  .card {
    border          : 1px solid rgba(235, 235, 245, 0.6);
    padding         : 10px;
    border-radius   : 5px;
    background-color: transparent;

    .avatar {
      width        : 30px;
      height       : 30px;
      border-radius: 50%;
      object-fit   : cover;
    }

    .title {
      font-family: 'Montserrat';
      font-style : normal;
      font-weight: 600;
      font-size  : 18px;
      color      : white;
    }

    .text {
      font-family: 'Montserrat';
      font-style : normal;
      font-weight: normal;
      font-size  : 14px;
      line-height: 20px;
      color      : #FFFFFF;
    }

    .notif {
      color    : #D77272;
      font-size: 1.3rem;
    }
  }

  .card:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
    cursor          : pointer;
  }

  .card-chat {
    background   : #333333;
    border-radius: 10px;
    padding      : 16px;
    width        : 100%;
    height       : 338px;
    position     : relative;

    .avatar {
      width        : 30px;
      height       : 30px;
      border-radius: 50%;
      object-fit   : cover;
    }

    .title {
      font-family: 'Montserrat';
      font-style : normal;
      font-weight: 600;
      font-size  : 18px;
      color      : white;

      &.send {
        text-align: right;
      }
    }

    .text {
      font-family: 'Montserrat';
      font-style : normal;
      font-weight: normal;
      font-size  : 14px;
      line-height: 20px;
      color      : #FFFFFF;

      &.send {
        text-align: right;
      }
    }

    .footer {
      background   : #141414;
      border-radius: 5px;
      position     : absolute;
      bottom       : 5px;
      width        : 94%;

      input {
        background : transparent !important;
        border     : 0;
        margin-top : 16px;
        margin-left: 10px;
      }
    }
  }

  .pagined {
    color      : $light;
    font-family: 'Montserrat';
    font-style : normal;
    font-weight: normal;
    font-size  : 16px;
    line-height: 20px;

    i {
      margin-left: 10px;
    }
  }

  th {
    border: 0;
  }

  th {
    span {
      font-weight: 600;
      font-size  : 1.2rem;
    }
  }

  tr:hover {
    background-color: #4E4D4D;
    cursor          : pointer;
  }

  td {
    font-family   : 'Montserrat';
    font-style    : normal;
    font-weight   : 400;
    font-size     : 16px;
    border        : 0;
    line-height   : 15px;
    color         : #FAFAFA;
    text-transform: capitalize;

    &.capitalize {
      text-transform: capitalize;
    }
  }

}