@import '../../../assets/styles/_variables';

:host {
  display              : grid;
  grid-template-columns: 250px 1fr;
  font-family          : Montserrat;
  $padding             : 12px 12px 12px 42px;
  position             : relative;

  &>.controller-container {
    border-right      : 1px solid #38383A;
    display           : grid;
    gap               : 16px;
    grid-template-rows: repeat(2, min-content) 1fr;

    &>.title {
      display              : grid;
      grid-template-columns: min-content 1fr;
      align-items          : center;
      font-size            : 16px;
      font-weight          : 400;
      color                : $primary;
      gap                  : 16px;
      padding              : $padding;
    }

    &>.custom-range-slider {
      padding: $padding;
      color  : #EBEBF599;

      &>.value-item {
        display              : grid;
        grid-template-columns: min-content 1fr;
        gap                  : 5px;
        align-items          : center;
        font-size            : 16px;

        &>.label {
          text-transform: capitalize;
        }
      }
    }

    &>.filter-container {
      &>.filter-category {
        display              : grid;
        grid-template-columns: min-content 1fr min-content;
        align-items          : center;
        gap                  : 12px;
        font-size            : 16px;
        font-weight          : 600;
        padding              : 12px 20px;
        cursor               : pointer;
        color                : #EBEBF599;
        border               : 1px solid transparent;
        border-radius        : 12px;

        &.active {
          color           : $primary;
          background-color: #2F2F2F;
        }

        &:hover {
          border: 1px solid #2F2F2F;
        }
      }

      &>.filter-content {
        display     : grid;
        gap         : 16px;
        padding     : 15px;
        padding-left: 25px;

        &>.search {
          display              : grid;
          grid-template-columns: 1fr min-content;
          gap                  : 12px;
          align-items          : center;
          padding              : 8px;

          .icon {
            color  : $light;
            opacity: 0.6;
          }

          input {
            background   : transparent !important;
            border       : 0;
            color        : $light;
            width        : 90%;
            font-family  : 'Montserrat';
            outline      : none !important;
            outline-style: none !important;
            box-shadow   : none !important;
            border       : 0;
          }

          background   : transparent !important;
          border-radius: 12px;
          border       : 1px solid rgba(235, 235, 245, 0.6);
        }
      }
    }

    ::ng-deep .mat-checkbox-layout {
      white-space: normal !important;
    }

    ::ng-deep .mat-checkbox-inner-container {
      margin-top   : 3px !important;
      margin-left  : 16px;
      border       : 1px solid rgba(235, 235, 245, 0.6);
      box-sizing   : border-box;
      border-radius: 2px;
    }

    ::ng-deep {
      .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-warn .mat-ripple-element {
        background-color: #F78A0E;
      }

      .mat-checkbox-indeterminate.mat-warn .mat-checkbox-background,
      .mat-checkbox-checked.mat-warn .mat-checkbox-background {
        background-color: #F78A0E;
      }

      .mat-checkbox-frame {
        border       : 1px solid rgba(235, 235, 245, 0.6);
        border-radius: 0%;
      }

      .mat-checkbox-background {
        svg {
          display: none;
        }
      }
    }

    mat-checkbox {
      white-space: normal !important;
      color      : rgba(235, 235, 245, 0.6);
      font-family: 'Montserrat';
      font-style : normal;
      margin     : 0;
      font-weight: 500;
      font-size  : 16px;
    }


  }

  &>.main-container {
    padding: 0 30px;
    display: grid;
    gap    : 20px;
    height : fit-content;

    @include brackpoint-md {
      padding: 0 8px;
      gap    : 16px;
    }

    &>.header {
      display        : grid;
      grid-auto-flow : column;
      justify-content: space-between;
      align-items    : center;
      font-size      : 18px;
      font-weight    : 600;

      &>.pagetitle {
        color: $primary;
      }

      &>.filter-mobile {
        display: none;
      }
    }

    &>.category-item-container {
      display              : grid;
      gap                  : 30px;
      grid-template-columns: repeat(auto-fill, 220px);
      justify-content      : space-around;

      @include brackpoint-md {
        grid-template-columns: repeat(auto-fill, 164px);
        gap                  : 20px 12px;

      }

      @include brackpoint-sm {
        grid-template-columns: repeat(2, 1fr);
        gap                  : 12px;

      }
    }
  }

  @include brackpoint-md {
    grid-template-columns: 1fr;

    &>.controller-container {
      display: none;

      &.active {
        display           : grid;
        z-index           : 1;
        background        : #0b0b0c;
        border            : 1px solid #f78a0e;
        box-sizing        : border-box;
        box-shadow        : 0px 4px 4px rgb(0 0 0 / 25%);
        border-radius     : 5px;
        color             : white;
        right             : 0px;
        position          : absolute;
        overflow-y        : scroll;
        -ms-overflow-style: none; // for Internet Explorer, Edge
        scrollbar-width   : none;
        top               : 55px;
        left              : 0;
        right             : 0;
        bottom            : 0;
      }
    }

    &>.main-container {
      &>.header {
        font-size: 12px;
        color    : #A7A8AF;

        @include brackpoint-md {
          padding   : 0 15px;
          margin-top: 16px;
        }

        &>.filter-mobile {
          display              : grid;
          grid-template-columns: 1fr min-content;
          align-items          : center;
        }
      }
    }
  }
}

.row {
  overflow-x: hidden !important;

  @media (max-width: 767px) {
    overflow-x: unset !important;
  }

  .vertical {
    position   : absolute;
    right      : 0;
    border     : none;
    border-left: 1px solid #38383a;
    height     : 1300px;
    width      : 1px;
  }

  .search-container {
    width: 100%;

    .disabled {
      color        : rgba(235, 235, 245, 0.6);
      font-family  : 'Montserrat';
      font-style   : normal;
      font-weight  : normal;
      font-size    : 16px;
      padding      : 12px;
      text-align   : center;
      line-height  : 20px;
      border-radius: 12px;

      &.enabled {
        background : #2f2f2f;
        color      : $primary !important;
        font-weight: 600;
      }

      i {
        font-size  : 1.2rem;
        margin-left: 10px;
        color      : rgba(235, 235, 245, 0.6);
      }

      img {
        height: 20px;
        width : 20px;
      }

      .icon-enabled {
        color: $primary !important;
      }
    }

    button {
      display        : flex;
      justify-content: space-between;
      text-align     : start !important;
    }

    ::ng-deep .mat-checkbox-layout {
      white-space: normal !important;
    }

    ::ng-deep .mat-checkbox-inner-container {
      margin-top   : 3px !important;
      margin-left  : 16px;
      border       : 1px solid rgba(235, 235, 245, 0.6);
      box-sizing   : border-box;
      border-radius: 2px;
    }

    ::ng-deep {
      .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-warn .mat-ripple-element {
        background-color: #F78A0E;
      }

      .mat-checkbox-indeterminate.mat-warn .mat-checkbox-background,
      .mat-checkbox-checked.mat-warn .mat-checkbox-background {
        background-color: #F78A0E;
      }

      .mat-checkbox-frame {
        border       : 1px solid rgba(235, 235, 245, 0.6);
        border-radius: 0%;
      }

      .mat-checkbox-background {
        svg {
          display: none;
        }
      }
    }

    mat-checkbox {
      white-space: normal !important;
      color      : rgba(235, 235, 245, 0.6);
      font-family: 'Montserrat';
      font-style : normal;
      margin     : 0;
      font-weight: 500;
      font-size  : 16px;
    }

    .search {
      width: 100% !important;

      .icon {
        color  : $light;
        opacity: 0.6;
      }

      input {
        background   : transparent !important;
        border       : 0;
        color        : $light;
        width        : 90%;
        font-family  : 'Montserrat';
        outline      : none !important;
        outline-style: none !important;
        box-shadow   : none !important;
        border       : 0;
      }

      background   : transparent !important;
      border-radius: 12px;
      border       : 1px solid rgba(235, 235, 245, 0.6);
    }
  }

  @media (min-width: 768px) {
    .filter-option-popup {
      width: 100%;

      .search-container {
        min-width: 174px;
      }
    }
  }

  @media (max-width: 767px) {
    .filter-option-popup {
      z-index      : 1;
      background   : #0b0b0c;
      border       : 1px solid #f78a0e;
      box-sizing   : border-box;
      box-shadow   : 0px 4px 4px rgb(0 0 0 / 25%);
      border-radius: 5px;
      color        : white;
      right        : 0px;
      height       : 626px;

      overflow-y        : scroll;
      -ms-overflow-style: none; // for Internet Explorer, Edge
      scrollbar-width   : none; // for Firefox

      &::-webkit-scrollbar {
        display: none; // for Chrome, Safari, and Opera
      }

      .search-container {
        padding-bottom: 20px;
        padding-right : 15px;
        padding-left  : 15px;
        min-width     : 274px;
      }
    }
  }
}

.category-item-container {
  display              : grid;
  gap                  : 30px;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content      : space-around;
  margin-top           : 26px;

  @include brackpoint-md {
    grid-template-columns: repeat(auto-fill, 200px);
    gap                  : 20px 12px;
    margin-top           : 0px;
  }

  @include brackpoint-sm {
    grid-template-columns: repeat(auto-fill, 164px);
    gap                  : 20px 12px;
  }
}

.sliders {
  overflow-x: hidden !important;
  width     : 100%;

  .row {
    display        : flex;
    justify-content: space-between;
    padding-left   : 15px;
    padding-right  : 15px;
  }

  .column {
    padding         : 20px;
    cursor          : pointer;
    background-color: #202020;
    margin          : 15px;
    border-radius   : 4px;
    box-shadow      : 7px 7px rgba($color: #000000, $alpha: 1.0);
  }

  .pagetitle {
    margin-top : 30px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size  : 18px;
    line-height: 33px;

    span {
      font-size: 15px;
    }
  }

  .subtitle {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size  : 18px;
    line-height: 25px;
    margin-left: 16px;
  }

  .controls {
    height       : 29, 25px;
    width        : 29, 25px;
    border-radius: 50%;
    border       : 1px solid;
    border-color : rgba(235, 235, 245, 0.6);

    .fa-chevron-right {
      color: rgba(235, 235, 245, 0.6);
    }

    &.active {
      border-color: $light;

      .fa-chevron-right {
        color: $light;
      }
    }
  }

  .card-games {
    img {
      object-fit: cover;
      height    : 160px;
      width     : 160px;
    }
  }

  .game-price {
    text-align: center !important;
  }

  .card-icon {
    text-align: left;
    color     : #F78A0E !important;
    margin-top: 8px !important;
  }

  .deliver-format {
    color      : #A7A8AF;
    font-size  : 12px;
    font-weight: 500;
    font-style : normal;
  }

  .game-name {
    max-width         : 155px;
    font-family       : 'Montserrat';
    color             : $light;
    font-size         : 14px;
    font-weight       : 600;
    margin-top        : 7px;
    overflow          : hidden;
    text-overflow     : ellipsis;
    display           : -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    &.discount {
      opacity        : 0.6;
      text-decoration: line-through;
      font-weight    : 400;
    }
  }

  hr {
    background-color: #000000;
    height          : 2px;
    margin-top      : 7px;
    margin-bottom   : 0px !important;
  }
}

.pagined {
  color      : $light;
  font-family: 'Montserrat';
  font-style : normal;
  font-weight: normal;
  font-size  : 16px;
  line-height: 20px;

  .fa-chevron-right {
    margin-left: 10px;
    cursor     : pointer;
  }

  .fa-chevron-left {
    margin-right: 10px;
    cursor      : pointer;
  }
}

.button-hovered {
  color: #b36206;
}

a:hover {
  text-decoration: none;
}

.filter-price {
  color        : #F78A0E;
  font-family  : "Montserrat";
  font-style   : normal;
  font-weight  : 600;
  font-size    : 16px;
  padding      : 12px;
  text-align   : center;
  line-height  : 20px;
  border-radius: 12px;

  img {
    width : 20px;
    height: 20px;
  }
}

::ng-deep {
  .custom-range-slider {
    padding: 0px 10px 0px 10px;

    .ngx-slider {
      margin: 10px 0px 20px 0px;

      .ngx-slider-bar {
        background   : #6A5741;
        height       : 13px;
        border-radius: 8px;
      }

      .ngx-slider-selection {
        background: #F78A0E;
      }

      .ngx-slider-pointer {
        width           : 22px;
        height          : 22px;
        top             : auto;
        /* to remove the default positioning */
        bottom          : -13px;
        background-color: #F78A0E;
        border-color    : rgba(91, 71, 48, 0.6);
        border-width    : 4px;
        border-style    : solid;
      }

      .ngx-slider-pointer:after {
        display: none;
      }

      .ngx-slider-bubble {
        display: none;
      }

      .ngx-slider-limit {
        font-weight: bold;
        color      : red;
      }

      .ngx-slider-tick {
        width        : 1px;
        height       : 15px;
        margin-left  : 4px;
        border-radius: 0;
        background   : black;
        top          : -1px;
      }

      .ngx-slider-tick.ngx-slider-selected {
        background: rgb(0, 110, 255);
      }
    }

    p {
      padding-left: 7px;
      font-family : Montserrat;
      font-style  : normal;
      font-weight : normal;
      font-size   : 16px;
      line-height : 20px;
      display     : flex;
      align-items : center;
      color       : rgba(235, 235, 245, 0.6);

      span {
        width: 80px;
      }
    }
  }
}

.min-h-vh {
  min-height: calc(100vh - 186px);
}

.btn-clear:hover {
  border: 1px solid #5c5c5c;
}

@media (min-width:1024px) and (max-width:1410px) {
  .search-container {
    .disabled {
      font-size: 16px !important;
    }
  }

  .sliders {
    .row {
      padding-left : 0px;
      padding-right: 0px;
    }

    // .column {
    //   width: 33%;
    // }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .search-container {
    .disabled {
      font-size: 14px !important;
    }

    mat-checkbox {
      font-size: 13px !important;
    }
  }

  .sliders {
    .column {
      width: 49%;
    }
  }
}

@media (min-width: 506px) and (max-width: 767px) {
  .sliders {
    .row {
      padding-left : 0px;
      padding-right: 0px;
    }

    .column {
      padding: 15px
    }

    .card-games {
      margin-left: 0px;
      // height: 300px;
    }

    .game-name {
      font-size  : 13px;
      line-height: 16px;
      margin-left: 0px;
    }

    hr {
      margin-left: 0px;
    }
  }
}

@media (min-width: 375px) and (max-width: 505px) {
  .sliders {
    padding   : 0px !important;
    overflow-x: inherit !important;

    .row {
      padding-left   : 0px;
      padding-right  : 0px;
      justify-content: center;
    }

    .column {
      width  : 215px;
      height : 320px;
      padding: 10px
    }

    .card-games {
      margin-left: 0px;
    }

    .card-games img {
      height: 140px;
      width : 100%;
    }

    .game-name {
      font-size  : 12px;
      margin-left: 0px;
    }

    hr {
      margin-left: 0px;
    }
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  .sliders {
    // .column {
    //   width: 50%;
    // }

    .card-games {
      margin-left: 0px;
      height     : 105px;
    }

    .game-name {
      font-size  : 13px;
      line-height: 16px;
      margin-left: 0px;
    }

    hr {
      margin-left: 0px;
    }
  }
}