@import "../../../assets/styles/_variables";

@font-face {
    font-family: 'Montserrat';
    src: url("../../../assets/fonts/Montserrat-Regular.ttf");
}

.container-fluid {
    height: 100%;
}

.text {
    color: white;
    font-family: 'Montserrat';
    font-size: 16px;
    text-align: center;
}




    