@import 'src/assets/styles/_variables';

.product-card {
  display         : grid;
  gap             : 6px;
  line-height     : normal;
  background-color: $card-background;
  border-radius   : 10px;
  padding         : 16px 69px;
  box-shadow      : 7px 7px rgba($color: #000000, $alpha: 1.0);

  &>.card-title {
    margin     : 0;
    color      : #FFDE32;
    font-size  : 12px;
    font-weight: 400;
    font-style : normal;

    &.approved {
      color: #50C33D;
    }

    &.rejected {
      color: #FF5935;
    }
  }

  &>.content {
    display              : grid;
    gap                  : 6px;
    grid-template-columns: min-content 1fr min-content;
    align-items          : center;

    &>.image-container {
      background           : center/cover no-repeat;
      width                : 64px;
      height               : 85px;
      border-radius        : 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius   : 3px;
      -ms-border-radius    : 3px;
      -o-border-radius     : 3px;
    }

    &>.info {
      display           : grid;
      grid-template-rows: repeat(3, 1fr);
      gap               : 6px;
      font-size         : 14px;
      font-weight       : 500;
      line-height       : 27px;
      white-space       : nowrap;
      font-style        : normal;

      &>.label {
        text-overflow: ellipsis;
        overflow     : hidden;
        white-space  : nowrap;
      }

      &>.price {
        color      : #F78A0E;
        font-weight: 500 !important;
      }
    }

    &>.action {
      display              : grid;
      grid-template-columns: repeat(2, 1fr);
      gap                  : 30px;
      font-size            : 43px;
      align-items          : center;

      &>* {
        cursor: pointer;
        color : #FF0000;
      }

      .mat-icon {
        display: flex;
        width  : 43px;
        height : 43px;
      }
    }
  }

  @include brackpoint-lg {
    padding: 10px 15px;

    &>.card-title {
      font-size: 10px;
    }

    &>.content {
      &>.image-container {
        width : 36px;
        height: 48px;
      }

      &>.info {
        font-size  : 10px;
        line-height: normal;
      }

      &>.action {
        font-size: 25px;
        gap      : 12px;

        .mat-icon {
          width : 25px;
          height: 25px;
        }
      }
    }
  }
}