@import 'src/assets/styles/_variables';

:host {
  display         : grid;
  background-color: $card-background;
  padding         : 19px;
  border-radius   : 10px;
  box-shadow      : 9px 9px black;

  &>.image-container {
    background   : center/cover no-repeat;
    padding-top  : 108.3%;
    margin-top   : 23px;
    border-radius: 6px;
  }

  &>.date {
    display    : grid;
    margin-top : 14px;
    align-items: center;

    p {
      margin-bottom: 0px;
      font-style   : normal;
      font-weight  : 500;
      font-size    : 14px;
      line-height  : 17px;
    }
  }

  &>.information {
    display              : grid;
    grid-template-columns: min-content 1fr max-content;
    font-size            : 16px;
    gap                  : 17px;
    margin-top           : 14px;
    align-items          : center;

    &>.content {
      overflow: hidden;
      display : grid;

      &>.label,
      &>.price {
        white-space  : nowrap;
        overflow     : hidden;
        text-overflow: ellipsis;
        text-align   : center;
        font-weight  : 600;
      }

      &>.label {
        border-bottom: 1px solid $primary;
      }

    }
  }

  &>.more-details {
    display      : grid;
    gap          : 5px;
    border-radius: 10px;
    border       : 1px solid #05FF00;
    padding      : 10px;
    margin-top   : 16px;

    .detail {
      display        : flex;
      justify-content: space-between;
      font-size      : 18px;
    }
  }

  &>.user-info {
    display   : grid;
    gap       : 5px;
    margin-top: 27px;
    cursor    : pointer;

    &>.title {
      font-size  : 16px;
      font-weight: 700;
    }

    &>.content {
      display              : grid;
      gap                  : 14px;
      background-color     : #4E4D4D;
      border-radius        : 10px;
      padding              : 10px 6px;
      grid-template-columns: min-content 1fr;

      &>.image-container {
        background   : center/cover no-repeat;
        border-radius: 50%;
        width        : 49px;
        height       : 49px;
        border       : 1px solid;
      }

      &>.description {
        display  : grid;
        font-size: 16px;

        &>.action {
          display        : grid;
          justify-content: flex-end;
        }
      }
    }
  }

  @include brackpoint-lg {
    display: none;
  }
}