:host {
  display: block;

  &>div {
    display        : flex;
    justify-content: center;
    align-items    : center;
    font-style     : normal;
    font-weight    : 500;
    font-size      : 30px;

    &.complaint {
      color: #FFF500;
    }

    &.finished {
      color: #50C43D;
    }

    &.paid {
      color: #065AFA;
    }

    &.cancelled {
      color: #FF0000;
    }

    .mat-icon {
      display: flex;
      width  : 30px;
      height : 30px;
    }
  }
}