@import '../../../assets/styles/_variables';

@font-face {
  font-family: 'Montserrat';
  src: url('../../../assets/fonts/Montserrat-Regular.ttf');
}

.container-fluid {
  height: 100vh;
  .mt-6 {
    margin-top: 10rem;
  }
  .mb-6 {
    margin-bottom: 10rem;
  }
  .card {
    width: 364px;
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #212121 !important;
    border-radius: 15px;

    .card-header {
      width: 100%;
      margin-top: 25px;
      display: flex;
      justify-content: center;
      border-bottom: 0;
      background-color: #212121 !important;
      .title {
        font-family: 'Montserrat';
        color: white;
        font-weight: 600;
        font-size: 24px;
        text-align: center;
      }
    }

    .remember {
      padding-top: 16px;
      color: #ebebf5;
      font-family: 'Montserrat';
      font-size: 14px;
      opacity: 0.6;
      text-decoration: none;
    }

    .card-body {
      .form-group {
        width: 278px;
        border-bottom: 1px solid rgba(235, 235, 245, 0.6) !important;
        border: 1px solid rgba(235, 235, 245, 0.6);
        border-radius: 10px;
        margin-bottom: 0;
        input {
          height: 44px;
          color: #c5c5c5;
          opacity: 0.6;
          border: 0;
          color: $light;
          width: 100px;
          font-family: 'Montserrat';
          outline: none !important;
          outline-style: none !important;
          box-shadow: none !important;
          border-color: transparent !important;
        }
      }
      button {
        width: 100%;
        height: 44px;
        border-radius: 10px;
        color: white;
        border: 0;
        box-shadow: none;
      }
    }

    .card-title {
      color: $secondary;
      font-size: 1rem;
    }
  }

  .form-group {
    border-bottom: 1px solid $secondary !important;
    margin-bottom: 1.6rem;

    .form-control {
      background-color: transparent !important;
      border: transparent !important;
      color: $light !important;
      width: 100% !important;

      &.selectoBackground {
        background-color: $primary !important;
      }

      &.form-control::placeholder {
        color: white !important;
      }
    }
  }
}
