@import "../../../assets/styles/_variables";

@font-face {
    font-family: 'Montserrat';
    src: url("../../../assets/fonts/Montserrat-Regular.ttf");
}


.container-fluid {
    background-color: #141414;
}

.card-search {
    background-color: #242424;
    border-radius: 10px;
    border: 1px solid rgba(235, 235, 245, 0.6);
    padding: 10px;

    img {
        object-fit: cover;
        width: 32px;
        height: 44px;
        border-radius: 2px;
    }

    .game-name {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 17px;
        color: white;
    }

    .game-price {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: white;
        line-height: 19px;
        text-align: center;
    }
}

.controls {
    height: 29, 25px;
    width: 29, 25px;
    border-radius: 50%;
    border: 1px solid;
    border-color: rgba(235, 235, 245, 0.6);

    &.active {
        border-color: $light;

        .fa {
            color: $light;
        }
    }
}

.row {
    overflow-x: hidden !important;

    .col {
        overflow-x: hidden !important;
    }

    .title {
        color: $primary;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;

        &.quest {
            font-size: 22px !important;
        }
    }

    .label {
        color: white;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }

    .form-control {
        background-color: transparent !important;
        border-radius: 10px;
        color: white;
    }

    .btn-save {
        color: white;
        border-radius: 10px;
        padding: 8px;
        right: -85px;
        width: 280px;
        margin-top: 50px;
    }



    .games-cont {
        width: 100%;
        display: flex;
        position: relative;
        align-items: center;
        margin-top: 16px;

        .game:hover {
            cursor: pointer;
            background-color: #333333;
        }

        .game {
            border-radius: 5px;
            width: 10%;
            height: 150px;
            padding: 10px 0;
            display: flex;
            justify-content: center;

            img {
                border-radius: 50%;
                width: 90px;
                height: 90px;
                object-fit: cover;
                border: 4px solid $primary;
            }

            .name {
                position: absolute;
                bottom: 23px;

                span {
                    font-family: 'Montserrat';
                    color: white;
                    font-size: 16px;
                    text-align: center;
                }
            }

            .delete {
                position: absolute;
                bottom: 0px;

                .fa {
                    color: #EB5757;
                    margin-right: 8px;
                    font-size: 1rem;
                }

                span {
                    font-family: 'Montserrat';
                    color: #EB5757;
                    font-size: 16px;
                    text-align: center;
                }
            }
        }
    }

    .card-add {
        border-radius: 5px;
        height: 230px;
        border: 1px dashed rgba(235, 235, 245, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;

        .fa {
            font-size: 4rem;
            color: rgba(235, 235, 245, 0.6);
        }
    }

    .card-img {
        height: 230px;
        width: 100%;

        img {
            border-radius: 5px;
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }

    .disabled {
        color: rgba(235, 235, 245, 0.6);
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        padding: 14px;
        text-align: center;
        line-height: 20px;
        border-radius: 12px;

        &.enabled {
            background: #2F2F2F;
            color: $primary !important;
            font-weight: 600;
        }

        img {
            margin-right: 5px;
        }

        i {
            margin-right: 5px;
            font-size: 1.2rem;
            color: rgba(235, 235, 245, 0.6);
        }

        .icon-enabled {
            color: $primary !important;
        }
    }

    .card {
        border: 1px solid rgba(235, 235, 245, 0.6);
        padding: 10px;
        border-radius: 5px;
        background-color: transparent;

        .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }

        .title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            color: white;
        }

        .text {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #FFFFFF;
        }

        .notif {
            color: #D77272;
            font-size: 1.3rem;
        }
    }

    .card:hover {
        background-color: rgba(255, 255, 255, 0.1) !important;
        cursor: pointer;
    }

    .card-chat {
        background: #333333;
        border-radius: 10px;
        padding: 16px;
        width: 100%;
        height: 338px;
        position: relative;

        .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }

        .title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            color: white;

            &.send {
                text-align: right;
            }
        }

        .text {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #FFFFFF;

            &.send {
                text-align: right;
            }
        }

        .footer {
            background: #141414;
            border-radius: 5px;
            position: absolute;
            bottom: 5px;
            width: 94%;

            input {
                background: transparent !important;
                border: 0;
                margin-top: 16px;
                margin-left: 10px;
            }
        }
    }

    .pagined {
        color: $light;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;

        i {
            margin-left: 10px;
        }
    }

}

.banner-select {
    width: 110px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
}

mat-select {
    height: 41px;
    align-items: center;
    color: #F78A0E !important;
    width: 100% !important;

    ::ng-deep {

        .mat-select-arrow,
        .mat-select-trigger span {
            color: #F78A0E !important;
        }

        .mat-select-trigger {
            margin-top: 12px;
        }
    }
}

.position-unset {
    position: unset;
}

.r-70-reverse {
    right: -50px;
}

.featured-products {
    min-height: 376px;
}