.profile-preview-card {
  display       : grid;
  grid-auto-flow: column;
  color         : var(--color-gray-70);
  align-items   : center;

  &>svg {
    width : 18px;
    height: 18px;
  }

  &>.text {
    font-style : normal;
    font-weight: 500;
    font-size  : 16px;
    line-height: 20px;

  }
}