@import "../../assets/styles/_variables";

.section-header {
  margin-top: 1em;

  div {
    display: flex;
    align-items: center;

    &:last-child {
      justify-content: flex-end;
    }
  }

  .section-title {
    margin: 0;
    font-weight: 400;
    font-size: 1.5em;
  }
}

td {
  vertical-align: middle !important;
}

.btn-upload {
  margin-right: 19px;
  margin-top: 15px;
}

// Table

.table-responsive {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.15);

  thead {
    th {
      //background-color: #f5f5f5;
      background-color: $light;

      .btn {
        background: transparent;
      }
    }
  }

  td.clickable {
    cursor: pointer;

    &:hover {
      color: $primary;
    }

    .lock-icon {
      font-size: 1em;
      margin-left: .3em;
      color: $danger;
    }
  }

  .mw-15 {
    width: 10vh;
  }
}