.mercodo-dialog {
  position        : fixed;
  top             : 0;
  left            : 0;
  right           : 0;
  bottom          : 0;
  z-index         : 1000;
  background-color: rgba($color: #000000, $alpha: 0.5);
  backdrop-filter : blur(2px);
  display         : none;
  justify-content : center;
  align-items     : center;

  &.active {
    display: flex;
  }

  &>.outside {
    position: absolute;
    z-index : 0;
    top     : 0;
    left    : 0;
    right   : 0;
    bottom  : 0;
  }

  &>.mercodo-dialog--content {
    position        : relative;
    background-color: #141414;
    overflow        : hidden;
    max-height      : 80vh;
    max-width       : 80vw;
    box-shadow      : 0 11px 15px -7px #0003, 0 24px 38px 3px #00000024, 0 9px 46px 8px #0000001f;
    border          : 1px solid rgba($color: white, $alpha: 0.1);
  }

}