@import 'src/assets/styles/_globals';

:host {
  display    : grid;
  gap        : 17px;
  line-height: normal;
  position   : relative;

  &>.content {
    display  : grid;
    gap      : 29px;
    max-width: 842px;

    &>.card {
      display         : grid;
      padding         : 16px 25px;
      background-color: $card-background;
      border-radius   : 10px;
      box-shadow      : 7px 7px rgba($color: #000000, $alpha: 1.0);

      .title {
        color      : $primary;
        font-style : normal;
        font-weight: 700;
        font-size  : 18px;
        line-height: 22px;
      }

      .description {
        color      : #ffffff;
        font-style : normal;
        font-weight: 400;
        font-size  : 12px;
        line-height: 15px;
      }

      .description_ {
        color      : rgba(235, 235, 245, 0.8);
        font-style : normal;
        font-weight: 400;
        font-size  : 12px;
        line-height: 15px;
      }

      $tr-height: 43px;

      table {
        width          : 100%;
        border-collapse: separate;
        border-spacing : 0;

        thead {
          position        : sticky;
          top             : 0;
          background-color: $card-background;

          tr {
            th {
              text-align   : center;
              padding      : 10px;
              border-bottom: 1px solid #333333;
              font-style   : normal;
              font-weight  : 600;
              font-size    : 18px;
              line-height  : 22px;
              color        : white
            }
          }
        }

        tbody {
          tr {
            height: $tr-height;

            td {
              text-align : center;
              font-size  : 16px;
              font-weight: 600;

              &.price {
                color: $primary;
              }

              &.withdraw-status {

                .status {
                  padding        : 3px 13px;
                  display        : flex;
                  align-items    : center;
                  justify-content: center;
                  width          : fit-content;
                  border-radius  : 5px;
                  margin         : 0 auto;

                  &.pending {
                    background-color: $primary;
                  }

                  &.paid {
                    background-color: $success;
                    color           : #C4F6D9;
                  }
                }
              }
            }
          }
        }
      }

      &.balnace {
        display        : grid;
        grid-auto-flow : column;
        align-items    : center;
        justify-content: space-between;

        &>.info {
          display       : grid;
          align-items   : center;
          grid-auto-flow: column;
          gap           : 24px;
          font-size     : 24px;
          font-weight   : 700;

          &>.label {
            font-style : normal;
            font-weight: 700;
            font-size  : 24px;
            line-height: 29px;
          }

          &>.value {
            color      : $primary;
            font-style : normal;
            font-weight: 700;
            font-size  : 24px;
            line-height: 29px;
          }
        }

        &>.action {
          display       : flex;
          flex-direction: column;
          align-items   : center;
          gap           : 5px;

          ::ng-deep {
            button {
              width      : 283px;
              font-style : normal;
              font-weight: 600;
              font-size  : 18px;
              line-height: 22px;
            }
          }
        }
      }

      &.last-sales,
      &.withdrawal-request {
        &>.content {
          max-height   : 170px;
          overflow     : overlay;
          position     : relative;
          padding-right: 15px;

          tr.bonus {
            background-color: $primary;

            td:first-child {
              color        : white;
              border-radius: 6px 0 0 6px;
            }

            td:last-child {
              color        : white;
              border-radius: 0 6px 6px 0;
            }
          }
        }
      }

    }
  }

  .payment-dialog {
    padding: 140px 123px;
    color  : white;

    &>.title {
      font-size  : 24px;
      font-weight: 600;
      text-align : center;
    }

    &>.content {
      display   : grid;
      gap       : 8px;
      width     : 407px;
      margin-top: 37px;
    }

    &>.action {
      margin-top: 52px;
    }

    @include brackpoint-lg {
      padding: 20px 16px;

      &>.content {
        width: 300px;
      }
    }

    .close-button {
      position: absolute;
      display : flex;
      cursor  : pointer;
      top     : 10px;
      right   : 10px;
    }
  }


  @include brackpoint-lg {
    &>.content {
      &>.card {
        padding: 13px 15px;

        .title {
          font-size: 12px;
        }

        .description {
          font-size: 10px;
        }

        $tr-height: 20px;

        table {
          width          : 100%;
          border-collapse: separate;
          border-spacing : 0;

          thead {
            position        : sticky;
            top             : 0;
            background-color: $card-background;

            tr {
              th {
                font-size: 18px;
              }
            }
          }

          tbody {
            tr {
              height: $tr-height;

              td {
                font-size: 18px;

                &.withdraw-status {
                  .status {
                    padding  : 3px 13px;
                    font-size: 10px;
                  }
                }
              }
            }
          }
        }

        &.balnace {
          grid-auto-flow : unset;
          gap            : 10px;
          justify-content: center;

          &>.info {
            display        : flex;
            font-size      : 14px;
            justify-content: space-evenly;

            &>.value {
              color: $primary;
            }
          }

          &>.action {
            gap: 10px;

            &>.description {
              color: white;
            }

            ::ng-deep {
              button {
                width: 157px;
              }
            }
          }
        }

        &.last-sales,
        &.withdrawal-request {

          &>.title,
          &>.header {
            text-align: center;
          }
        }
      }
    }
  }
}