@import 'src/assets/styles/_variables';

:host {
  display        : flex;
  justify-content: center;
  align-items    : center;
  padding        : 180px 0;

  .container {
    background-color: #202020;
    width           : 632px;
    height          : 632px;
    padding         : 44px 140px;
    border-radius   : 15px;
    display         : grid;
    gap             : 20px;

    &>.title {
      font-weight  : 600;
      font-size    : 24px;
      text-align   : center;
      margin-bottom: 13px;
    }

    &>.content {
      display: grid;
      gap    : 18px;

      &>.send-code {
        display              : grid;
        grid-template-columns: repeat(2, 1fr);
        gap                  : 8px;
      }
    }
  }

  .goto-login {
    text-align: center;
    color     : rgba(235, 235, 245, 0.6);

    &>span {
      color : #065AFA !important;
      cursor: pointer;
    }
  }

  @include brackpoint-lg {
    padding: 0;

    &>.container {
      width        : 100%;
      border-radius: 0;
      padding      : 40px;

      &>.content {
        &>.send-code {
          grid-template-columns: 143px 1fr;

          app-button {
            button {
              padding: 0;
            }
          }
        }
      }
    }
  }

  @include brackpoint-sm {
    &>.container {
      &>.content {
        &>.send-code {
          grid-template-columns: 1fr;

          app-button {
            ::ng-deep {
              button {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}