.user-discount-modal {
  display: grid;
  gap    : 20px;

  &>.label {
    margin-bottom: 10px;
  }

  &>.card {
    display       : grid;
    padding       : 18px 30px;
    gap           : 25px;
    cursor        : pointer;
    border        : 1px solid var(--color-gray-100);
    border-radius : 5px;
    grid-auto-flow: row;

    &>.info {
      display        : grid;
      align-items    : center;
      grid-auto-flow : column;
      justify-content: space-between;

      &>.header {
        display: grid;
        gap    : 7px;

        &>.title {
          font-size: 16px;
        }

        &>.description {
          font-size: 13px;
          color    : var(--color-gray-60);
        }
      }

      &>.action {
        display  : none;
        font-size: 24px;
      }
    }

    &>.edit-content {
      display: none;
    }

    &.active {
      border-color: var(--color-primary);
      background  : linear-gradient(245.35deg, rgba(247, 138, 14, 0.15) 0%, rgba(247, 138, 14, 0) 29.03%);

      &>.info {
        &>.header {
          &>.description {
            color: var(--color-primary);
          }
        }

        &>.action {
          display: flex;
          color  : var(--color-primary);
        }
      }

      &>.edit-content {
        display: block;

        .avaliable-value {
          color      : var(--color-primary);
          font-size  : 14px;
          font-weight: 500;
        }
      }
    }

    &.balance {
      &>.header {
        &>.description {
          color: var(--color-primary);
        }
      }
    }
  }

  &>button {
    margin-top: 10px;
  }
}