.store-information-card {
  display       : grid;
  gap           : 15px;
  grid-auto-flow: column;

  &>.icon {
    font-size: 24px;
    color    : var(--color-gray-60);
  }

  &>.content {
    display    : grid;
    gap        : 10px;
    font-size  : 16px;
    font-weight: 600;

    &>.message {
      color: var(--color-gray-60);

      &>.qualification {
        display       : grid;
        grid-auto-flow: column;
        gap           : 8px;
        align-items   : center;

        &>.rate-score {
          font-style : normal;
          font-weight: 500;
          font-size  : 14px;
          line-height: 17px;
          color      : var(--color-gray-60);

        }
      }
    }
  }

  @include md {
    display    : flex;
    align-items: center;

    &>.icon {
      margin-right: 18px;
    }
  }
}