@import 'src/assets/styles/_globals';

:host {
  display: grid;
  gap    : 7px;

  .meracdo-phone-select {
    display              : grid;
    grid-template-columns: 105px 1fr;
    border               : 1px solid #EBEBF599;
    border-radius        : 10px;
    align-items          : center;
    min-height           : 44px;
    position             : relative;

    &>.country-select {
      display    : grid;
      height     : 100%;
      align-items: center;

      ::ng-deep {
        .mat-select-trigger {
          margin-top: 0;

          mat-select-trigger {
            display              : grid;
            grid-template-columns: min-content 1fr;
            align-items          : center;
            gap                  : 4px;

            &>.icon {
              background   : center/contain no-repeat;
              width        : 30px;
              height       : 20px;
              border-radius: 4px;
            }
          }
        }
      }

    }

    &>app-mercado-input {
      height: 100%;

      ::ng-deep {
        .mercado-input {
          min-height   : unset;
          height       : 100%;
          border       : none;
          border-left  : 1px solid #EBEBF599;
          border-radius: unset;
        }
      }
    }

    &.error {
      border: 1px solid $field-error;

      &>app-mercado-input {
        ::ng-deep {
          .mercado-input {
            border-color: $field-error;
          }
        }
      }
    }
  }

  &>.helper {
    font-size  : 12px;
    color      : $field-label;
    line-height: 12px;
    height     : 12px;
    padding    : 0 28px;

    &.error {
      color: $field-error;
    }
  }
}

.country-information {
  display       : grid;
  gap           : 4px;
  grid-auto-flow: column;
  font-size     : 12px;
  align-items   : center;

  &>.icon {
    background   : center/contain no-repeat;
    width        : 30px;
    height       : 20px;
    border-radius: 4px;
  }
}