.order-detail {
  display      : grid;
  gap          : 30px;
  padding      : 30px 25px;
  border       : 1px solid var(--color-gray-100);
  border-radius: 8px;
  height       : fit-content;

  &>.title {
    font-size: 16px;
  }

  &>.product {
    display: grid;
    gap    : 20px;

    &>.information {
      display              : grid;
      grid-template-columns: min-content 1fr;
      gap                  : 15px;

      &>.image-container {
        background: no-repeat center/cover;
        width     : 62.61px;
        height    : 80px;
      }

      &>.content {
        display           : grid;
        grid-template-rows: 1fr min-content;

        &>.name {
          font-style : normal;
          font-weight: 500;
          font-size  : 13px;
          line-height: 16px;
        }

        &>.price-delivery {
          display       : grid;
          grid-auto-flow: column;
          color         : var(--color-gray-60);
          gap           : 16px;
          align-items   : center;
          width         : fit-content;
          font-style    : normal;
          font-weight   : 400;
          font-size     : 14px;
          line-height   : 17px;

          &>.delivery {
            display  : flex;
            font-size: 20px;
          }
        }
      }
    }

    &>.code {
      display              : grid;
      gap                  : 15px;
      align-items          : center;
      grid-template-columns: 1fr max-content;

      &>.value {
        padding      : 14px 20px;
        border       : 1px solid var(--color-gray-100);
        border-radius: 5px;
        font-style   : normal;
        font-weight  : 400;
        font-size    : 14px;
        line-height  : 17px;
      }

      &>.clipboard {
        font-size       : 24px;
        display         : flex;
        justify-content : center;
        align-items     : center;
        width           : 45px;
        height          : 45px;
        background-color: var(--color-primary);
        border-radius   : 50%;
        color           : var(--color-gray-130);
        cursor          : pointer;
      }
    }
  }

  &>.divition {
    height          : 1px;
    background-color: var(--color-gray-100);
  }

  &>.section {
    color  : var(--color-gray-60);
    display: grid;

    &>.title {
      font-style : normal;
      font-weight: 400;
      font-size  : 16px;
      line-height: 20px;
      color      : white;
    }

    &.detail-payment {
      gap: 25px;

      &>.payment {
        display              : grid;
        grid-template-columns: min-content 1fr;
        align-items          : center;
        gap                  : 5px;
        font-style           : normal;
        font-weight          : 400;
        font-size            : 14px;
        line-height          : 17px;

        &>.icon {
          display  : flex;
          font-size: 30px;
        }
      }

      &>.info {
        display: grid;
        gap    : 20px;

        @include md {
          grid-template-columns: repeat(1, 1fr);
        }

        &>.item {
          display              : grid;
          grid-template-columns: min-content 1fr;
          gap                  : 7px;
          align-items          : center;

          &>.icon {
            display  : flex;
            font-size: 16px;
          }

          &>.label {
            font-style : normal;
            font-weight: 400;
            font-size  : 14px;
            line-height: 17px;
          }
        }
      }
    }

    &.detail-order {
      gap: 20px;

      &>.title {
        font-style : normal;
        font-weight: 400;
        font-size  : 16px;
        line-height: 20px;
      }

      &>.item {
        display              : grid;
        grid-template-columns: min-content 1fr;
        gap                  : 7px;
        align-items          : center;
        font-style           : normal;
        font-weight          : 400;
        font-size            : 14px;
        line-height          : 17px;

        &>.icon {
          display  : flex;
          font-size: 16px;
        }
      }

      &>.buyer {
        &>.message {
          &>span {
            color: var(--color-primary)
          }
        }
      }
    }
  }

  @include xxs {
    padding: 15px;

    &>.detail-payment {
      &>.payment {
        font-size: 12px !important;
      }

      &>.info {
        &>.item {
          &>.label {
            font-size: 12px !important;
          }
        }
      }
    }

    &>.section {
      &>.item {
        &>.message {
          font-size: 12px;
        }
      }
    }
  }
}