@import 'src/assets/styles/_variables';

:host {
  display: grid;
  gap    : 30px;

  &>.header {
    display              : grid;
    grid-template-columns: max-content 1fr;
    gap                  : 51px;
    font-size            : 40px;
    font-weight          : 600;
    line-height          : 48.76px;

    &>.user-count {
      color: #F78A0E;
    }
  }

  &>.search {
    max-width: 318px;
  }

  &>.content {
    display: grid;

    &>ul {
      display              : grid;
      grid-template-columns: repeat(auto-fill, 265px);
      margin               : 0;
      padding              : 0;
      list-style           : none;
      gap                  : 30px 50px;
      justify-content      : space-around;

      &>li {
        background-color     : #4E4D4D;
        border-radius        : 10px;
        display              : grid;
        grid-template-columns: min-content 1fr;
        gap                  : 21px;
        padding              : 9px 34px;
        align-items          : center;
        cursor               : pointer;

        &>.avatar {
          background   : no-repeat center/contain;
          width        : 50px;
          height       : 50px;
          border-radius: 50%;
        }
      }
    }
  }
}