@import 'src/assets/styles/_variables';

:host {
  display    : grid;
  gap        : 31px;
  font-family: Montserrat;

  &>.content {
    display: grid;
    gap    : 36px;

    &>.sms-setting {
      display: grid;

      &>.label {
        font-size  : 16px;
        font-weight: 500;
      }

      &>.phone {
        font-size  : 16px;
        font-weight: 500;
        color      : #BC6A0D;
      }

      &>.config {
        margin-top           : 8px;
        display              : grid;
        grid-template-columns: repeat(2, 1fr);
        width                : 303px;
        border               : 1px solid $primary;
        border-radius        : 6px;
        height               : 30px;
        font-size            : 15px;

        &>div {
          cursor         : pointer;
          border-radius  : 6px;
          display        : flex;
          justify-content: center;
          align-items    : center;
          text-transform : uppercase;

          &.active {
            background-color: $primary;
          }
        }
      }
    }

    &>.action {
      display        : flex;
      justify-content: center;
      align-items    : center;
      cursor         : pointer;
      user-select    : none;
      height         : 33px;
      width          : 245px;
      border         : 1px solid #515151;
      border-radius  : 6px;
      font-size      : 14px;
      font-weight    : 500;
    }
  }

  &>app-verification-code {
    padding: 0;
  }
}