@import 'src/assets/styles/_globals';

:host {
  user-select: none;

  .mercado-button {
    font-size  : 16px;
    font-weight: 700;
    
  }

  button {
    position       : relative;
    display        : flex;
    gap            : 6px;
    font-size      : 18px;
    font-weight    : 600;
    font-family    : Montserrat;
    align-items    : center;
    justify-content: center;
    padding        : var(--button-padding);
    color          : white;
    border         : 1px solid var(--button-color);
    transition     : color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius  : var(--button-radius);
    overflow       : hidden;
    box-shadow     : 0px 1px 1px var(--button-color);
    width          : var(--button-width);

    &>.background {
      position        : absolute;
      top             : 0;
      left            : 0;
      right           : 0;
      bottom          : 0;
      background-color: var(--button-color);
    }

    &>.content {
      position: relative;
    }

    &:hover {
      &>.background {
        opacity: 0.5;
      }
    }

    &:disabled {
      pointer-events: none;
      box-shadow    : none;
      border        : 1px solid $gray-600;
      color         : $gray-400;

      &>.background {
        position        : absolute;
        top             : 0;
        left            : 0;
        right           : 0;
        bottom          : 0;
        background-color: $gray-600;
      }
    }
  }
}