@import 'src/assets/styles/_variables';

:host {
  display: grid;
  gap    : 24px;
  padding: 0 100px;

  &>.header {
    display        : grid;
    align-items    : center;
    gap            : 37px;
    grid-auto-flow : column;
    justify-content: flex-start;
    font-size      : 16px;

    &>.user-name {
      display              : grid;
      grid-template-columns: min-content 1fr;
      align-items          : center;
      gap                  : 24px;
      font-weight          : 600;

      &>.avatar {
        background   : no-repeat center/contain;
        border-radius: 50%;
        width        : 50px;
        height       : 50px;
      }
    }

    &>.phone {
      position: relative;

      &>.remove-phone-number {
        position  : absolute;
        top       : -20px;
        left      : 0px;
        right     : 0;
        text-align: center;
        color     : $primary;
        font-size : 12px;
        cursor    : pointer;
      }
    }
  }

  &>.action {
    display        : grid;
    grid-auto-flow : column;
    justify-content: flex-start;
    gap            : 49px;
  }

  &>.sub-category {
    display        : grid;
    grid-auto-flow : column;
    justify-content: flex-start;
    gap            : 49px;

    &>.category-button {
      width           : 160px;
      background-color: #0B0B0C;
      border-radius   : 4px;
      border          : 1px solid transparent;
      text-align      : center;
      padding         : 20px;
      font-size       : 16px;
      font-weight     : 600;
      cursor          : pointer;

      &.active,
      &:hover {
        border-color: $primary;
      }
    }

    &>app-button {
      ::ng-deep {
        button {
          --button-color: #0B0B0C !important;
          width         : 160px;
          border-radius : 4px;
          border        : 1px solid #0B0B0C;
        }
      }
    }
  }
}