:host {
  display: grid;
  gap    : 27px;

  .page-title {
    font-size: 20px;
  }

  &>.content {
    display  : grid;
    gap      : 14px;
    max-width: 678px;

    &>app-mercado-input {
      width: 329px;
    }

    &>.action {
      display        : grid;
      justify-content: flex-end;
    }
  }
}