@import '../../../assets/styles/_variables';

@font-face {
  font-family: 'Montserrat';
  src        : url('../../../assets/fonts/Montserrat-Regular.ttf');
}

:host {
  .preview-image-dialog {
    width     : 80vw;
    height    : 80vh;
    background: no-repeat center/contain;
  }
}

.contenedor {
  background: #141414;
  padding   : 25px;
  overflow-x: hidden !important;
  width     : 100%;

  .mt-6 {
    margin-top: 5rem;
  }

  .mb-6 {
    margin-bottom: 5rem;
  }

  .title {
    color      : $primary;
    font-family: 'Montserrat';
    font-style : normal;
    font-weight: 500;
    font-size  : 24px;
    line-height: 20px;
    margin-left: 16px;
  }

  .subtitle {
    color      : $primary;
    font-family: 'Montserrat';
    font-style : normal;
    font-weight: 400;
    font-size  : 24px;
    line-height: 20px;
    margin-left: 16px;
  }

  .selected-chat {
    background   : #f78a0e;
    margin-bottom: 0;
    height       : 52px;
    display      : flex;
    align-items  : center;
    border-radius: 5px 5px 0px 0px;

    img {
      margin-left: 16px;
    }

    span {
      font-family: 'Montserrat';
      font-style : normal;
      font-weight: 500;
      font-size  : 16px;
      margin-left: 10px;
      line-height: 20px;
      color      : $light;
    }
  }

  .not-selected-chat {
    background   : #333333;
    margin-bottom: 0;
    height       : 52px;
    display      : flex;
    align-items  : center;
    border-radius: 5px;
    cursor       : pointer;

    img {
      margin-left: 16px;
    }

    span {
      margin-left: 10px;
      font-family: 'Montserrat';
      font-style : normal;
      font-weight: 500;
      font-size  : 16px;
      line-height: 20px;
      color      : rgba(235, 235, 245, 0.6);
    }
  }

  .card-chat {
    padding-bottom: 20px;
    position      : relative;
    background    : #333333;
    border-radius : 5px;
    height        : 513px;
    overflow      : auto;

    .cont-bubble {
      height: 513px;
    }

    .message-other {
      width         : 100%;
      padding       : 30px;
      padding-right : 80px;
      padding-bottom: 10px;
      display       : flex;
      height        : auto;
      position      : relative;

      .avatar {
        width   : 5%;
        position: absolute;
        bottom  : 10px;

        img {
          height       : 31px;
          width        : 31px;
          border-radius: 50%;
        }
      }

      .bubble {
        margin-left               : 45px;
        width                     : 95%;
        padding                   : 16px;
        padding-bottom            : 5px;
        border-top-left-radius    : 20px;
        border-top-right-radius   : 20px;
        border-bottom-right-radius: 20px;
        background-color          : rgba(20, 20, 20, 0.5);

        &>.message-date {
          p {
            font-size    : 10px;
            margin-bottom: 0px;
            margin-top   : 15px;
            color        : rgba(197, 197, 197, 0.5);

            span {
              color      : rgba(197, 197, 197, 0.5);
              margin-left: 3px;
              font-size  : 12px;
            }
          }
        }

        ::ng-deep {
          span {
            color      : $light;
            font-family: 'Montserrat';
            font-style : normal;
            font-weight: normal;
            font-size  : 16px;
            line-height: 20px;
            white-space: pre-line;

            .important {
              color      : red !important;
              font-weight: 600;
            }
          }
        }

        .preview-image {
          width     : 100px;
          height    : 100px;
          background: center/contain no-repeat;
        }
      }
    }

    .message-me {
      width         : 100%;
      padding       : 30px;
      padding-right : 80px;
      padding-bottom: 0;
      display       : flex;
      height        : auto;
      position      : relative;

      .avatar {
        width   : 5%;
        position: absolute;
        bottom  : 2px;
        right   : 20px !important;

        img {
          height: 33px;
          width : 33px;
        }
      }

      .bubble {
        margin-left              : 45px;
        width                    : 95%;
        padding                  : 16px;
        padding-bottom           : 5px;
        border-top-left-radius   : 20px;
        border-top-right-radius  : 20px;
        border-bottom-left-radius: 20px;
        background-color         : $primary;

        &>.message-date {
          p {
            font-size    : 10px;
            margin-bottom: 0px;
            margin-top   : 15px;
            color        : rgb(245, 240, 240);
            text-align   : right;

            span {
              color      : rgb(245, 240, 240);
              margin-left: 3px;
              font-size  : 12px;
            }
          }
        }

        span {
          color      : $light;
          font-family: 'Montserrat';
          font-style : normal;
          font-weight: normal;
          font-size  : 16px;
          line-height: 20px;
        }


        .preview-image {
          width     : 100px;
          height    : 100px;
          background: center/contain no-repeat;
        }
      }
    }
  }

  .contenedor-chat {
    border: 1px solid $primary;
  }

  .send-footer {
    height                    : 61px;
    background-color          : #141414;
    border-top-right-radius   : 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius : 5px;

    .form-group {
      border-bottom: 0;
      margin-top   : 10px;
      margin-bottom: 0 !important;

      input {
        outline      : none !important;
        outline-style: none !important;
        box-shadow   : none !important;
        border-color : transparent !important;
      }

      .form-control {
        background-color: transparent !important;
        border          : transparent !important;
        color           : rgba(235, 235, 245, 0.6) !important;
        width           : 100% !important;

        &.selectoBackground {
          background-color: $primary !important;
        }

        &.form-control::placeholder {
          color: rgba(235, 235, 245, 0.6) !important;
        }
      }
    }

    .icon {
      margin-top  : 11px;
      margin-right: 26px;
      cursor      : pointer;

      &.clip {
        width : 11px;
        height: 22px;
      }

      &.send {
        width : 24px;
        height: 24px;
      }
    }
  }

  .card {
    padding       : 30px;
    padding-bottom: 60px;
    background    : #333333;
    border-radius : 5px;

    ::ng-deep .mat-checkbox-layout {
      white-space: normal !important;
    }

    ::ng-deep .mat-checkbox-inner-container {
      margin-top   : 3px !important;
      margin-left  : 16px;
      border       : 1px solid rgba(235, 235, 245, 0.6);
      box-sizing   : border-box;
      border-radius: 2px;
    }

    mat-checkbox {
      white-space: normal !important;
      color      : rgba(235, 235, 245, 0.6);
      font-family: 'Montserrat';
      font-style : normal;
      margin     : 0;
      font-weight: 500;
      font-size  : 16px;
    }

    .image-game {
      object-fit   : cover;
      border-radius: 6px;
    }

    .price {
      margin-top : 20px;
      font-family: 'Montserrat';
      font-style : normal;
      font-weight: 500;
      font-size  : 16px;
      line-height: 20px;
      color      : $primary;
    }

    .description {
      margin-top : 20px;
      font-family: 'Montserrat';
      font-style : normal;
      font-weight: 500;
      font-size  : 16px;
      line-height: 20px;
      color      : $light;
    }

    .image-name {
      font-family: 'Montserrat';
      font-style : normal;
      font-weight: bold;
      font-size  : 18px;
      line-height: 22px;
      color      : $light;
      margin-top : 16px;
    }

    .finish {
      background-color: #11ba18;
      border-radius   : 2px;
      height          : 58px;
      font-family     : 'Montserrat';
      font-style      : normal;
      font-weight     : bold;
      font-size       : 18px;
      line-height     : 22px;
      color           : #ffffff;
    }

    .claim {
      background-color: #ff0000;
      border-radius   : 2px;
      height          : 58px;
      font-family     : 'Montserrat';
      font-style      : normal;
      font-weight     : bold;
      font-size       : 18px;
      line-height     : 22px;
      color           : #ffffff;
    }

    .subtitle-white {
      color      : $light;
      font-family: 'Montserrat';
      font-style : normal;
      font-weight: 600;
      font-size  : 18px;
      line-height: 20px;
      margin-left: 16px;
    }

    .text {
      margin-top : 16px;
      margin-left: 16px;
      color      : #ffffff;
      font-family: 'Montserrat';
      font-style : normal;
      font-weight: 500;
      font-size  : 16px;
      line-height: 20px;
    }

    .code {
      margin         : 16px;
      display        : flex;
      justify-content: center;
      align-items    : center;
      background     : #141414;
      border         : 1px solid #f78a0e;
      box-sizing     : border-box;
      height         : 58px;
      border-radius  : 2px;

      span {
        font-family: 'Montserrat';
        font-style : normal;
        font-weight: 500;
        font-size  : 18px;
        line-height: 22px;
        text-align : center;
        color      : #ffffff;
      }
    }
  }

  .remain-time {
    display              : grid;
    grid-template-columns: min-content 1fr;
    align-items          : center;
    gap                  : 9px;

    &>.icon {
      color    : black;
      font-size: 24px;
    }

    &>.content {
      font-size  : 14px;
      font-weight: 500;
      color      : white;
    }
  }

}

.text-modal {
  color      : $light;
  font-family: 'Montserrat';
  font-style : normal;
  font-weight: bold;
  font-size  : 24px;
  line-height: 29px;
  text-align : center;
}

.finish {
  background-color: #11ba18;
  border-radius   : 2px;
  height          : 58px;
  font-family     : 'Montserrat';
  font-style      : normal;
  font-weight     : bold;
  font-size       : 18px;
  line-height     : 22px;
  color           : #ffffff;
  text-transform  : initial;
}

.claim {
  background-color: #ff0000;
  border-radius   : 2px;
  height          : 58px;
  font-family     : 'Montserrat';
  font-style      : normal;
  font-weight     : bold;
  font-size       : 18px;
  line-height     : 22px;
  color           : #ffffff;
  text-transform  : initial;
}

.comment {
  textarea {
    background-color: transparent !important;
    border-radius   : 10px !important;
    border          : 1px solid rgba(235, 235, 245, 0.6);
    color           : rgba(197, 197, 197, 0.5);
    font-family     : 'Montserrat';
    font-size       : 15px;
    width           : 100%;
  }
}

.avatar-user {
  width        : 80px;
  height       : 80px;
  border-radius: 50%;
  object-fit   : cover;
}

.avatar-buyer {
  border-radius: 50%;
  width        : 102px;
  height       : 102px;
  object-fit   : cover;
}

.name {
  font-family  : 'Montserrat';
  font-style   : normal;
  font-weight  : 600;
  margin-top   : 16px;
  margin-bottom: 5px;
  font-size    : 24px;
  line-height  : 34px;
  color        : $light;
}

.qualification {
  font-size  : 16px;
  line-height: 20px;
  color      : $light;
  margin-left: 10px;
}

.votes {
  font-weight: normal;
  margin-left: 10px;
  font-size  : 16px;
  line-height: 20px;
  color      : rgba(235, 235, 245, 0.6);
}

.input-custom {
  background-color: transparent !important;
  border          : 1px solid rgba(235, 235, 245, 0.6);
  border-color    : rgba(235, 235, 245, 0.6);
  color           : white;
}

.fa-star {
  margin-right: 5px;
  font-size   : 1.8rem;
  color       : rgba(235, 235, 245, 0.6);
}

.btn-calificate {
  margin-top   : 16px;
  border-radius: 10px;
  color        : $light;
  font-family  : 'Montserrat';
  padding      : 8px;
}

mat-select {
  background-color: #333333 !important;
  border          : 1px solid rgba(235, 235, 245, 0.6) !important;
  height          : 44px;
  text-align      : left;
  border-radius   : 10px;
  color           : rgba(235, 235, 245, 0.6) !important;
  width           : 100% !important;
}

.quest {
  font-family: 'Montserrat';
  font-style : normal;
  font-weight: bold;
  font-size  : 24px;
  line-height: 29px;
  color      : $light;
}

.text {
  color      : white;
  font-family: 'Montserrat';
  font-style : normal;
  font-weight: normal;
  font-size  : 24px;
  line-height: 29px;
}

.image {
  position         : absolute;
  top              : 50%;
  left             : 50%;
  width            : 120px;
  height           : 120px;
  margin           : -60px 0 0 -60px;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation   : spin 2s linear infinite;
  animation        : spin 2s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform        : rotate(360deg);
  }
}