@import '../../../assets/styles/_variables';

:host {
  font-family    : Montserrat;
  display        : flex;
  justify-content: center;
  align-items    : center;
  height         : 80vh;

  &>.container {
    max-width         : 678px;
    height            : 290px;
    display           : grid;
    grid-template-rows: min-content 1fr min-content;
    background-color  : #141414;
    padding           : 24px 40px;
    gap               : 27px;

    &>.title {
      color      : $primary;
      font-size  : 20px;
      font-weight: 500;
    }

    &>.content {
      max-width: 332px;
    }

    &>.action {
      display        : grid;
      justify-content: flex-end;
    }
  }
}